* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-responsive {
margin: 0 auto;
}

.autodiv{
display: flex;
flex-flow: row wrap;
justify-content: center;
}

.logoclass{
width:80px;
height:60px;	
padding:2px;
}

.nopadding{
padding-left:0 !important;
padding-right:0 !important;	
margin-top:2px;
margin-left:0 !important;
margin-right:0 !important;	
}

.overviewcontainer{
border-width: 2px;
border-style: solid;
border-color: #DCDCDC;
padding-left:0 !important;
padding-right:0 !important;	
}

.mobilenumber{
font-size:26px;
color:#f00;
font-family:calibri;
vertical-align:middle;	
text-align:right;
}

.pagehead{
font-size:18px;
font-family:calibri;
font-weight:600;
letter-spacing:1px;
color:#f00;
padding-top:10px;	
padding-bottom:10px;	
}

.desc{
font-size:16px;
font-family:calibri;
font-weight:300;
letter-spacing:0.5px;
word-spacing:5px;
color:#000;
text-align:justify;
}



/* menubar star*/
/* navbar */
.navbar {
margin-bottom: 0 !important;
}
.navbar > .container {width:auto;}

.navbar.navbar-inverse {
background: #1E90FF;
border: 2px solid #1E90FF;
}

.navbar-inverse {
  border: none;
}

/* title */
.navbar.navbar-inverse .navbar-brand {
color: #fff;
padding-top:15px !important;
border-radius:none;    
}

.navbar.navbar-inverse .navbar-brand:hover,
.navbar.navbar-inverse .navbar-brand:focus {
color: #fff;
border-radius:none;
}
/* link */
.navbar.navbar-inverse .navbar-nav > li > a {
color: #fff;
font-size:20px;
font-family:cambria;
border-radius:none;
}

.navbar.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
color: #fff;
background: #FF4500;
}

.navbar.navbar-inverse .navbar-nav > .active > a, 
.navbar.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar.navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
background: #FF4500;
}

.navbar.navbar-inverse .navbar-nav > .open > a, 
.navbar.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar.navbar-inverse .navbar-nav > .open > a:focus {
color: #fff;
background:#FF4500;
}

.navbar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
color: #000;
font-size:14px;
padding-top:5px;
}

.navbar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
background: #FF4500;
color: #fff;
}

/* mobile version */
.navbar.navbar-inverse .navbar-toggle {
border-color: #fff;
color: #fff;
}
.navbar.navbar-inverse .navbar-toggle:hover,
.navbar.navbar-inverse .navbar-toggle:focus {
background-color: #FF4500;
}
.navbar.navbar-inverse .navbar-toggle .icon-bar {
background-color: #fff;
}
@media (max-width: 767px) {
.navbar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
color: #fff;
}
.navbar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
color: #fff;
background-color: #FF4500;
}
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0px solid #fff;
  padding-bottom: 0;
}

.navbar-brand{
margin-top:5px;	
margin-bottom:5px;	
}

.menuname{
color:#fff;	
font-size: 20px;  
text-transform:uppercase;
font-weight:550;
letter-spacing:1px;
}

.navbar-fixed-top{position: fixed;top:0; right:0;left:0;max-width: 83%;margin-left: auto;margin-right: auto;}

.navbar-toggle{
color:#fff;
font-size: 16px;  
}

@media only screen and (max-width: 800px) {
.navbar {margin-bottom:0px;margin-top: 0px;}
.navbar-fixed-top{position: fixed;top:0; right:0;left:0;max-width: 100%;margin-left: auto;margin-right: auto;}
}

/* menubar end*/

/*footer start*/

.footer1 {
padding-top: 20px;
padding-right: 0;
padding-bottom: 5px;
padding-left: 0;	
border-top-width: 5px;
border-top-style: solid;
border-top-color: #1E90FF;
}

.title-widget {
color: black;
font-size: 18px;
font-weight: 600;
line-height: 1;
position: relative;
text-transform: uppercase;
font-family: 'Fjalla One', sans-serif;
margin-top: 0;
margin-right: 0;
margin-bottom: 25px;
margin-left: 0;
padding-left: 15px;
}

.title-widget::before {
background-color: #1E90FF;
content: "";
height: 22px;
left: 0px;
position: absolute;
top: -2px;
width: 2px;
}

.widget_nav_menu ul {
list-style: outside none none;
padding-left: 0;
}

.widget_archive ul li {
background-color: rgba(0, 0, 0, 0.3);
content: "";
height: 3px;
left: 0;
position: absolute;
top: 7px;
width: 3px;
}

.widget_nav_menu ul li a{
font-size: 14px;
font-weight: 550;
line-height: 12px;
position: relative;
text-transform: camelcase;
text-decoration:none;
margin-bottom: 7px;
padding-bottom: 7px;
width:95%;
color:black;
}

.title-median {
color: red;
font-size: 18px;
line-height: 20px;
margin: 0 0 15px;
text-transform: uppercase;
font-family:'Gudea', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }

#social:hover {
-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
}
#social {
-webkit-transform:scale(0.8);
/* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
}           
/* 
Only Needed in Multi-Coloured Variation 
*/
.social-fb:hover {
color: #3B5998;
}
.social-tw:hover {
color: #4099FF;
}
.social-gp:hover {
color: #d34836;
}
.social-em:hover {
color: #4099FF;
}
.nomargin { margin:0px; padding:0px;}

.footer-bottom {
background-color: #1E90FF;
min-height: 30px;
width: 100%;
}
.copyright {
color: #fff;
line-height: 30px;
min-height: 30px;
padding: 7px 0;
}
/*footer end*/

/* start product page */
.productrow{
margin:5px;	
padding-left:10px;
padding-right:10px;
}
.productbox{
border: 1px solid #dcdcdc;
text-align:center;	
}
.productimg{
width:180px;
height:220px;	
}
.productname{
color:#000;
font-size:16px;	
font-family:calibri;
display:inline-block;	
}

.productlabel{
color:#000;
display:inline-block;	
font-weight:bold;
}

.sellingprice{
color:#000;
display:inline-block;	
font-size:14px;
font-family:calibri;
}

.strikeprice{
color:#f00;
display:inline-block;	
text-decoration:line-through;
padding-left:5px;
font-size:12px;
font-weight:bold;
font-family:calibri;
}

.link{
font-size:16px;	
}
/* end product page */

/*item-details page start*/

.detailsdiv1{
border:1px solid #dcdcdc;	
margin-bottom:0px;	
}

.detailsdiv2{
border:0px solid #dcdcdc;	
}

.detailsimg{
text-align:center;
width:auto;
height:350px;	
}
.detailname{
font-size:24px;
font-weight:bold;
color:#00C851;
}

.detaillable{
font-size:16px;
font-weight:bold;
}


.detailcurrency{
font-size:18px;
font-weight:bold;
}

.detailprice{
font-size:16px;
}

.detaildesc{
font-size:14px;
}

/*item-details page end*/

/* start order page */
.addressdiv{
margin-top:20px;	
margin-bottom:30px;	
}

.addresslable{
font-size:24px;
font-weight:300;
color:#f00;
font-family:calibri;
}

.address{
font-size:20px;
color:#000;
font-family:calibri;
}
/* end order page */


/*slideshow start*/
.carousel-inner .item.left.active {
  transform: translateX(-25%);
}
.carousel-inner .item.right.active {
  transform: translateX(25%);
}

.carousel-inner .item.next {
  transform: translateX(25%)
}
.carousel-inner .item.prev {
  transform: translateX(-25%)
}

.carousel-inner .item.right,
.carousel-inner .item.left { 
  transform: translateX(0);
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
width: 100%;
}

.carousel-control.left, .carousel-control.right {
background-image:none;
}

@media (min-width: 992px ) {
.carousel-inner .active.left {
left: -25%;
}
.carousel-inner .next {
left:  25%;
}
.carousel-inner .prev {
left: -25%;
}
}
@media (min-width: 768px) and (max-width: 991px ) {
.carousel-inner .active.left {
left: -33.3%;
}
.carousel-inner .next {
left:  33.3%;
}
.carousel-inner .prev {
left: -33.3%;
}
.active > div:first-child {
display:block;
}
.active > div:first-child + div {
display:block;
}
.active > div:last-child {
display:none;
}
}
@media (max-width: 767px) {
.carousel-inner .active.left {
left: -100%;
}
.carousel-inner .next {
left:  100%;
}
.carousel-inner .prev {
left: -100%;
}
.active > div {
display:none;
}
.active > div:first-child {
display:block;
}
}
.carousel-inner img {
height: 200px;
max-height: 300px;
width: auto;
}

.slidetitle{
font-size:26px;
letter-spacing:2px;
color:red;
background:#DCDCDC;
}

.slideover{
border:1px solid #DCDCDC;
}
.arrow {
color:#fff;
transition: box-shadow 0.3s ease-in-out;
}
.carousel-control {
width: 2%;
top: 10%;
opacity: 1;
}
/*slideshow end*/
#myTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0d47a1;
  color: white;
  cursor: pointer;
  width:35px;
  height:35px;
  border-radius:100%;
}

#myTop:hover {
  background-color: #FF8000;
}

.companyname{
color:red;
font-size:24px;
font-family:Berlin Sans FB;
letter-spacing:1px;
padding-left:0px;
font-weight:300;
}